[submodule "MainService"]
	path = MainService
	url = https://github.com/Sh1bari/MainService.git
[submodule "AuthorizationServer"]
	path = AuthorizationServer
	url = https://github.com/Sh1bari/AuthorizationServer
[submodule "ApiGateway"]
	path = ApiGateway
	url = https://github.com/Sh1bari/ApiGateway
[submodule "EurekaServer"]
	path = EurekaServer
	url = https://github.com/Sh1bari/EurekaServer
[submodule "besthack-24"]
	path = besthack-24
	url = https://github.com/Tifftal/besthack-24
[submodule "MainService_bestHack_final"]
	path = MainService_bestHack_final
	url = https://github.com/Sh1bari/MainService_bestHack_final
[submodule "AuthorizationServer_bestHack_final"]
	path = AuthorizationServer_bestHack_final
	url = https://github.com/Sh1bari/AuthorizationServer_bestHack_final
[submodule "eurekaServer_bestHack_final"]
	path = eurekaServer_bestHack_final
	url = https://github.com/Sh1bari/eurekaServer_bestHack_final
[submodule "ApiGateway_bestHack_final"]
	path = ApiGateway_bestHack_final
	url = https://github.com/Sh1bari/ApiGateway_bestHack_final
[submodule "bestkack-24-final"]
	path = bestkack-24-final
	url = https://github.com/Tifftal/bestkack-24-final
